name: Check Flake

on:
  pull_request:

  workflow_dispatch:

  workflow_call:

  push:
    branches:
    - master

jobs:
  nix-build:
    name: Nix Builds
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Clean up
        uses: wimpysworld/nothing-but-nix@v9
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v21
      - name: Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@v13
      - run: nix run github:Mic92/nix-fast-build -- --no-nom --skip-cached
